<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html: charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/css">
    </head>
    <body>
        <div class="container">
            <h1>Upload your file</h1>
            <form action="/upload" enctype="multipart/form-data" method="post">
                <br>
                <label>File</label>
                <input type="file" class="upload" name="upload" multiple="multiple"><br>
                <input type="submit" value="Send">
            </form>
        </div>
    </body>
</html>
